<div class="container-fluid ">
    <!-- Modal -->
    <div class="container mt-4" id='loginPage'>
        <h4 class="text-center  text-info mb-4">Đăng nhập</h4>
        <div>
            <div class="alert alert-danger d-none" role="alert" id='alertLoginPage'>

            </div>
        </div>
        <div>
            <div class="form-group">
                <input type="email" name="usernamePage" class="form-control" placeholder="Nhập địa chỉ Email">
            </div>
            <div class="form-group">
                <input type="password" name="passwordPage" class="form-control" placeholder="Nhập mật khẩu">
            </div>
            <button type="submit" class="btn btn-info btn-block btn-round">Dăng
                nhập</button>
            <div class='text-center mt-2'>
                <a onclick="onFormRegisterPage()" href="#">Đăng kí tài khoảng ! </a>
            </div>
        </div>
        <br>
    </div>
    <div id="registerPage" style="display:none">
        <div class=" container pl-4 pt-4">
            <h4 class="text-center text-info">Đăng kí</h4>
            <br>
            <div>
                <div class="alert alert-danger d-none" role="alert" id='alertSigninPage'>

                </div>
            </div>
            <form action="#" method="POST">
                <div class="form-group">
                    <input type="email" class="form-control" required name="emailSignin"
                        placeholder="Nhập địa chỉ Email">
                    <small class="text-danger" style="display: none;">*</small>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <input type="text" class="form-control" required name="firstName" placeholder="Nhập họ">
                        <small class="text-danger" style="display: none;">*</small>
                    </div>
                    <div class="form-group col-sm-6">
                        <input type="email" class="form-control" required name="lastName" placeholder="Nhập tên">
                        <small class="text-danger" style="display: none;">*</small>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" required name="passSignin" placeholder="Nhập mật khẩu">
                    <small class="text-danger" style="display: none;">*</small>
                </div>

                <button type="button" class="btn btn-info btn-block btn-round">Đăng
                    kí</button>
            </form>
        </div>
        <div class='text-center mb-4 mt-2'>
            <a onclick="onFormLoginPage()" href="#" class="text-primary"> Quay lại Đăng nhập</a>
        </div>
    </div>
    <div class="container-fluid mb-3" style="display: flex;justify-content: center;">
        <div>
            <div class="google-btn">
                <div class="google-icon-wrapper">
                    <img style="position: absolute; margin-top: 3px; margin-left: 3px;width: 34px;height: 34px;"
                        src="/images/Facebook-f_Logo-Blue-Logo.wine.svg" />
                    {{!-- <i class="fab fa-facebook-square" style="font-size: 39px;"></i> --}}
                </div>
                <p class="btn-text"><b><a href="/account/fakebook" class="text-white">Sign in with
                            fakebook</a></b></p>
            </div>
        </div>
    </div>
    <div class="container-fluid mb-3 " style="display: flex;justify-content: center;">
        <div>
            <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
            <div class="google-btn bg-danger">
                <div class="google-icon-wrapper">
                    <img class="google-icon"
                        src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
                </div>
                <p class="btn-text"><b><a href="/account/google" class="text-white mr-2	">Sign in with
                            google</a></b>
                </p>
            </div>
        </div>
    </div>
</div>
<br> <br> <br> <br>
{{!-- login FB --}}
<script>
    function onFormRegisterPage() {
        $('#registerPage').show()
        $('#loginPage').hide()
    }

    function onFormLoginPage() {
        $('#registerPage').hide()
        $('#loginPage').show()
    }
    document.addEventListener('DOMContentLoaded', function () {
        $('#loginPage button[type=submit]').click(function () {
            var username = $('#loginPage input[name="usernamePage"]').val()
            var password = $('#loginPage input[name="passwordPage"]').val()
            axios.post('/account/login', {
                username,
                password
            })
                .then(function (res) {
                    console.log(res.data)
                    if (res.data.status) {
                        // dang nhap thanh cong
                        document.location.href = '/'
                    } else {
                        $('#alertLoginPage').removeClass('d-none')
                        $('#alertLoginPage').text('tài khoảng mật khẩu không đúng')
                    }
                })
                .catch(function (error) {
                    $('#alertLoginPage').removeClass('d-none')
                    $('#alertLoginPage').text('tài khoảng mật khẩu không đúng')
                });
        });

        $('#registerPage button[type=button]').click(function () {
            const email = $('#registerPage input[name="emailSignin"]').val()
            const password = $('#registerPage input[name="passSignin"]').val()
            const lastName = $('#registerPage input[name="lastName"]').val()
            const firstName = $('#registerPage input[name="firstName"]').val()
            if (!email || !password || !lastName || !firstName) {
                $('#alertSigninPage').removeClass('d-none')
                $('#alertSigninPage').text('bạn chưa điền đẩy đủ thông tin')
                return
            }
            axios.post('/account/resgister', {
                email: email,
                password: password,
                lastName: lastName,
                firstName: firstName
            })
                .then(function (res) {
                    console.log(res.data)
                    if (res.data.status) {
                        // dang nhap thanh cong
                        location.reload();
                    } else {
                        $('#alertSigninPage').removeClass('d-none')
                        $('#alertSigninPage').text(res.data.error)
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
        })
    })
</script>