<footer class="bg-light">
  <div class="container text-center">
    <p class="font-italic text-muted m-0" style="line-height: 50px;">&copy;
      Copyrights Company.com All rights reserved.</p>
  </div>
</footer>