<!doctype html>
<html lang="en">

<head>
  <title>SecondHand Books Store</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" href="/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/chat.css">
  {{!--Emoji css --}}
  <link rel="stylesheet" type="text/css" href="/css/emoji.css">
  {{!--
  <link rel="stylesheet" type="text/css" href="/css/emojionearea.css"> --}}
  {{!-- owl carousel --}}
  <link rel="stylesheet" type="text/css" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" type="text/css" href="/css/owl.theme.default.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {{!-- socket --}}
  <script src="/socket.io/socket.io.js"></script>
  <script>
    //    var socket = io('https://localhost:3000/')

    var socket = io('https://secondhandbooksstore.herokuapp.com/')
    socket.emit('location', window.location.href)
  </script>
  {{!-- formart time --}}
  <script src="/js/moment-with-locales.js"></script>

</head>

<body>
  <div class="app banner-top">
    {{>header}}

    <div>
      {{{body}}}
    </div>

    {{>footer}}
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->



  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  {{!-- emoji js --}}
  {{!--
  <script src="/js/emojionearea.js"></script> --}}
  <script src="/js/emoji.js"></script>
  {{!-- slide --}}
  <script src="/js/owl.carousel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  {{!-- ajax --}}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/notification.js"></script>



  <script>
    //
    function getNotification() {
      axios.get('/me/getNotification')
        .then((result) => {
          console.log(result.data)
        })
    }
  </script>


</body>

</html>