<div id=''>

    <div class="container-fluid h-100 pt-4 pb-4" id='chat'>

        <div class="row justify-content-center h-100">
            <div class="col-md-4 col-xl-3 chat">
                <div class="card mb-sm-3 mb-md-0 contacts_card">
                    <div class="card-header">
                        <div class="btn-group w-100">
                            <input type="text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                placeholder="Nhập tên... " name="" class="form-control search" id='searchUser'>
                            <div class="input-group-prepend">
                                <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                            </div>
                            <div class="dropdown-menu w-100 " id='resultSearchUser'>
                                {{!-- <a class="dropdown-item d-flex align-items-center border-bottom" href="#">
                                    <img src="/images/user5.png" style='width: 40px; margin-right: 20px;' alt=""
                                        srcset="">
                                    <span>Nguyễn Thanh Sơn</span>
                                </a> --}}
                            </div>
                        </div>
                    </div>
                    <div class="card-body contacts_body">
                        <ul class="contacts" id='listRoom'>
                            {{!-- <li class="active">
                                <div class="d-flex bd-highlight">
                                    <div class="img_cont">
                                        <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                            class="rounded-circle user_img">
                                        <span class="online_icon"></span>
                                    </div>
                                    <div class="user_info">
                                        <span>Khalid</span>
                                        <p>Kalid is online</p>
                                    </div>
                                </div>
                            </li>
                            <li class="active">
                                <div class="d-flex bd-highlight">
                                    <div class="img_cont">
                                        <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                            class="rounded-circle user_img">
                                        <span class="online_icon"></span>
                                    </div>
                                    <div class="user_info">
                                        <span>Khalid</span>
                                        <p>Kalid is online</p>
                                    </div>
                                </div>
                            </li> --}}
                        </ul>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
            <div class="col-md-8 col-xl-6 chat">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="/images/user5.png" class="rounded-circle user_img" id='avatar_receive_main'>
                                <span class="online_icon" id='status_Receive_Main'></span>
                            </div>
                            <div class="user_info">
                                <span id='fullName_receive_main'></span>
                            </div>
                            {{!-- <div class="video_cam">
                                <span><i class="fas fa-video"></i></span>
                                <span><i class="fas fa-phone"></i></span>
                            </div> --}}
                        </div>
                        {{!-- <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span> --}}
                        <div class="action_menu">
                            <ul>
                                <li><i class="fas fa-user-circle"></i> View profile</li>
                                <li><i class="fas fa-users"></i> Add to close friends</li>
                                <li><i class="fas fa-plus"></i> Add to group</li>
                                <li><i class="fas fa-ban"></i> Block</li>
                            </ul>
                        </div>

                    </div>
                    <div class="w-100 text-center loadingChat" style="display:none">
                        <button class="btn text-dark" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                    </div>

                    <div class="card-body msg_card_body" id='msg_card_body'>
                    </div>
                    <div class="statusTyping" style="display:none">
                        <img src="/images/typing4.gif" style="width: 50px; position: absolute; bottom:80px;left: 20px;">
                    </div>
                    <div class="card-footer">
                        <div class="input-group" style="display:block">

                            {{!-- <textarea name="" class="form-control type_msg" id=''
                                placeholder="Type your message..."></textarea> --}}
                            {{!-- <input type="text" class="form-control type_msg" placeholder="Nhập tin nhắn..."> --}}
                            <div id='emoji'>
                                <div class="input-group-append emotion ">
                                    <div class="input-group-append">
                                        <span class="input-group-text attach_btn"><i
                                                class="fas fa-paperclip"></i></span>
                                    </div>
                                    <input name="" contenteditable="true" class="form-control type_msg"
                                        style="border-radius:5px 0 0 5px" placeholder="Type your message...">
                                    <span class="emotion-Icon">
                                        <i class="fal fa-laugh-squint"></i>
                                        <div class="emotion-area"> </div>
                                    </span>
                                    <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/chat.js"></script>